body{
    font-size: 15px;
}
.header{
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 68px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
    filter: drop-shadow(0 0.1rem 0.15rem rgba(0, 0, 0, 0.767));    
    line-height: 70px;
    display: flex;
    margin-bottom: 4px;
}
.sticky{
    position: fixed;
}
.content-header{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
a{
    color: rgb(56, 56, 56);
    font-size: 15px;
}
a:hover{
    text-decoration: none;
    color: rgb(0,222,182);
    
}
.logo{
    height: 70px; 
    margin-right: auto;
    margin-top: -4px;
}
.logo img{
    height: 100%;
    
}
.menu{
    height: 50px;
}
.menu>ul{
    display: flex;
    
}
.menu>ul>li{
    list-style: none;
    margin-left: 5px;
    padding-right: 10px;
    text-align: center;
}
.menu>ul>li>a, .menu>ul>li{
    font-size: 17px;
}
.menu .fa-bell, .menu .fa-comment{
    cursor: pointer;
    font-size: 17px;
    background-color: rgb(212, 212, 212);

    width: 30px;
    height: 30px;
    padding-top: 6px;
    border-radius: 50%;
}
.alerted{
    color: rgb(255, 0, 0);
}


::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
}
.menu .notification{
    position: relative;
}
.menu .notification .show-noti{
    position: absolute;
    top: 60px;
    left: -20px;
    width: 400px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    background-color:  rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.menu .notification .show-noti ul{
    padding: 0 10px;
    
}
.show-noti h3{
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: #dfdfdf 1px solid;
    margin: 0;
    text-align: left;
}
.menu .notification .show-noti ul li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: #dfdfdf 1px solid;
}
.menu .notification .show-noti .avatar{
    width: 15%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.menu .notification .show-noti .avatar img{
    width: 100%;
    position: relative;
    top: -15px;
}
.show-noti .text-noti{
    width: 78%;
    text-align: justify;
    line-height: 18px;
    font-size: 16px;
    margin-top: 5px;
}
.show-noti .fa-circle{
    width: 4%;
    color: rgb(47, 166, 245);
    position: relative;
    top: 20px;
    font-size: 13px;
}
.menu .account{
    height: 70px;
    cursor: pointer;
    position: relative;
}
.menu .account img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 50%;
}

.show-info-option{
    position: absolute;
    /* float: right; */
    top: 60px;
    left: -7px;
    width: 200px;
    /* height: 250px; */
    background-color:  rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.show-info-option ul{
    padding-left: 0;
}
.show-info-option ul li{
    list-style: none;
    text-align: left;
    line-height: 40px;
    padding-left: 10px;
}
.show-info-option ul li a{
    font-size: 16px;
    position: relative;
    left: -12px;
}
.show-info-option ul li a .fa-long-arrow-right{
    opacity: 0;
}
.show-info-option ul li:hover a .fa-long-arrow-right{
    opacity: 1;
}
.show-info-option ul li:hover a{
    color: rgb(0,222,182);
    transition: 0.1s;
    left: 0;
}
.option-line{
    border-top: #dfdfdf 1px solid;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}
.none{
    display: none;
}
.small-chat{
    position: fixed;
    bottom: 1px;
    right: 10px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 40px;
    background-color: rgb(192, 191, 191);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 0.35s;
}
.small-chat .fa-comments{
    margin-left: 20px;
}
.big-chat{
    transition: 0.5s;
    position: fixed;
    bottom: 1px;
    right: 10px;
    width: 350px;
    height: 445px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(192, 191, 191);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.big-chat .body-window{
    margin:0 10px;
}
.big-chat .body-window>span{
    font-weight: 500;
}
.big-chat .body-window .fa-window-minimize{
    font-size: 13px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.body-window .close-window{
    cursor: pointer;
}
.chat-window{
    background-color: #ffffff;
    width: 100%;
    height:350px;
    margin-top: 15px;
    box-shadow: inset 0 0 10px rgb(18 20 21);
    overflow: scroll;
    overflow-x: hidden;
}
.chat-window .small-message{
    font-size: 15px;
    font-weight: 400;
    float: left;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 4px;
    width: 60%;
    margin-bottom: 8px;
    margin-left: 5px;
    filter: drop-shadow(0 0.1rem 0.15rem rgba(0, 0, 0, 0.767));    
}
.chat-window .owner-message{
    background-color: rgb(57 102 255);
    color: #ffffff;
    float: right;
    margin-right: 5px;
}

.input-window{
    margin-top: 10px;
    font-size: 16px;
}

.input-window input{
    padding: 5px 20px;
    width: 290px;
    border-radius: 5px;
    border: none;
}
.input-window input:focus{
    outline: none;
}
.input-window input::placeholder{
    font-size: 16px;
    color: rgb(109, 109, 109);
    font-style: italic;
}
.input-window .fa-paper-plane{
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}



