/*

Sẽ có 3 màn hình chính
1 PC 15.6" 1536
2 Tablet ipad 768 x 1024
3 Smartphone 6s 375 x 667

*/

/* Smartphone width: 375px */
:root {
  --width: 100vw;
  font-family: 'Open Sans', sans-serif;
}


body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
}

div#top-bar {
  max-width: 1000px;
  margin: auto;
  display: flex;
}
#logo {
  margin-top: 10px;
  margin-right: auto;
}

div#top-bar #menu {
  float: right;
  display: flex;
  list-style-type: none;
  margin: 0;
}

div#top-bar #menu li {
  padding: 10px;
}

div#top-bar a {
  text-decoration: none;
  color: gray;
}

/*
SEARCH BAR SCREEN
*/

div.search-bar-container {
  display: flex;
  background: url(./images/bg.jpg) center no-repeat;
  background-size: 100%;
  flex-direction: column;
  position: relative;
  background-size: cover;
  height: 30rem;
}
div.search-bar-container #background-search-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  flex-direction: column;
  opacity: 0.4;
}
div.search-bar-container #slogan {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 7rem;
  font-size: 2rem;
  color: white;
}

div.search-bar-container .search-bar {
  z-index: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  position: relative;
}

div.search-bar #out-search-bar {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

div.search-bar .in-search-bar {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  z-index: 1;
}

div.in-search-bar #header {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}
div.in-search-bar .input-search-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 0.25rem;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
}
div.input-search-bar i {
  font-size: 1.5rem;
  margin: auto;
  color: rgb(199, 199, 199);
}
div.input-search-bar input {
  display: flex;
  width: 100%;
  padding-left: 0.5rem;
  border-width: 0px;
  font-size: 1.25rem;
}

input:focus {
  outline: none;
}

div.input-search-bar button {
  background-color: rgb(34, 212, 180);
  border-radius: 0.75rem;
  font-size: 1rem;
  width: 9rem;
  padding: 0.75rem;
  border-width: 0px;
  cursor: pointer;
}
div.input-search-bar button:hover{
  /* opacity: .8; */
  filter: brightness(0.9);
}
div.in-search-bar .select-zone {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  color:lightblue;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
}

div.select-zone select {
  cursor: pointer;
  min-width: 105px;
  max-width: 105px;
  margin-right: 2rem;
  font-size: 1rem;
  border: none;
  background: none;
  color: lightblue;
}
.group-price{
  display: flex;
}
.none{
  display: none;
}
.option-price{
  width: 23rem;
  height: 300px;
  font-size: 1rem;
}
.option{
  color: black;
  z-index: 1;
  background-color: #ffffff;
  position: absolute;
  
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #b1b1b1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.list-option{
  padding-left: 0;
  flex: 1;
}
.list-option li{
  list-style: none;
  padding: 8px;
}
.list-option li:hover{
  background-color: #e0e0e0;
  transition: 0.1s;
}
.list-option li:first-child{
  background-color: #b1b1b1;
  font-weight: 500;
}
.group-price .list-option:first-child {
  border-right: #b1b1b1 1px solid;
}
/*
  CITY
*/

div.body-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 100px;
}

/*
  REVIEW 2 CITY
*/

div.body-container .review-two-cities {
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex;
  width: 80%;
}

div.review-two-cities #text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

div.review-two-cities .two-cities {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

div.two-cities{
  position: relative;
  
}
div.two-cities a {
  width: 49%;
  display: flex;
}
div.two-cities .a1 {
  margin-right: 1%;
}
div.two-cities .a2 {
  margin-left: 1%;
}

/* 
  width: 80%
*/

div.two-cities :hover .images {
  filter: brightness(60%);
  transition: filter 0.2s;
}

div.two-cities .ha-noi {
  margin-left: auto;
  width: 100%;
  height: 9rem;
  background-size: 140%;
  
  border-radius: 1rem;
  /* padding: 1rem; */
}
div.two-cities .ha-noi .hanoi_image{
  /* filter: brightness(90%); */
  background: url(./images/ha-noi.jpg) no-repeat center;
  width: 100%;
  height: 100%;  
  background-size: 140%;
  border-radius: 1rem;
  
  /* padding: 1rem; */
}
.images{transition: filter 0.2s;  
}
div.ha-noi p {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-size: 1.5rem;
}

div.two-cities .ho-chi-minh {
  margin-right: auto;
  width: 100%;
  height: 9rem;
  /* background: black url(./images/ho-chi-minh.jpg) center no-repeat; */
  background-size: 140%;
  filter: brightness(90%);
  border-radius: 1rem;
  /* padding: 1rem; */
}

div.two-cities .ho-chi-minh .hcm_image{
  background: black url(./images/ho-chi-minh.jpg) center no-repeat;
  width: 100%;
  /* filter: brightness(90%); */
  height: 100%;  
  background-size: 140%;
  border-radius: 1rem;
  /* padding: 1rem; */
}

div.ho-chi-minh p {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
}

/*
HA NOI
*/
.ha-noi-news {
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  width: 100%;
}
.news-vs-rank {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.news {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row;
  border-right: 2px solid #d6d6d6;
}
.new {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.left {
  width: 38%;
}
.left:hover > img{
  filter: brightness(.7);
}
.left > img {
  width: 100%;
  border-radius: 0.5rem;
}
.right {
  width: 60%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.new-tilte {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
.new-info {
}
.new-price {
  font-weight: 500;
  color: rgb(34, 212, 180);
  font-size: 1.5rem;
}
.rank {
  /* display: flex; */
  width: 25%;
  justify-content: center;
}

.ho-chi-minh-news {
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.rank_list{
  /* margin-top:40px ; */
  list-style-type: none;
  padding-left:0 ;
}
.rank_title{
  text-align: center;
  background-color: #f1f4f6;
  font-size:1.4rem;
  font-weight: 500;
  padding:10px 12px;
}
.rank_item{
  padding: 10px 20px;
  
}
.rank_item a:hover{
  color: rgb(34, 212, 180);
}
.rank_item a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
.rank_item-title{
  white-space: nowrap;
    width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
}
sup {
  position: absolute;
  font-size: 0.6rem;
  /* margin-top: -.5em; */
}
i{
  color:#888787;
  font-size: 1.1rem;
}
.bed_icon{
  margin-right: 30px;
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: calc(11px + 2 * ((100vw - 375px) / (1236 - 375)));
  }
  .advanced-search {
    display: none;
  }
  div.search-bar-container .search-bar {
    width: calc(60% + 20% * ((100vw - 375px) / (1236 - 375)));
  }
  .price{
    display: none;
  }
  div.search-bar-container .search-bar {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 11px;
  }
  .body-container{
    width: 100%;
  }
  .rank{
    display: none;
  }
  .news{
    width: 100%;
    display: block;
    border-right: none;
  }
  .new{
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .new-tilte {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  div.search-bar-container .search-bar {
    width: 80%;
  }
  div.select-zone select {
    display: none;
  }
  .price{
    display: none;
  }
  div.search-bar-container .search-bar {
    width: 100%;
  }
  div.body-container .review-two-cities{
    width: 95%;
  }
  div.ha-noi p , div.ho-chi-minh p{
    font-size: 1rem;
  }
} 


/* Tablet width: 1024px */



/* PC  width: 1536px */
@media screen and (max-width: 1236px) {
  
}
@media screen and (min-width: 1236px) {
  :root {
    font-size: 15px;
  }
  div.search-bar-container .search-bar {
    width: 60%;
  }
  
}