:root{
    --white_color: #fff;
    --black_color: #000;
    --text_color: #333;
    --little-pink:#efb8e8;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;

}

.grid_full-width{
    width: 100%;
}

.grid_row{
    display: flex;
    flex-wrap: wrap;
}
