:root{
  font-size: 15px;
  font-family: Roboto sans-serif;
} 
body{
  background-color: rgb(245,245,245);
}
.container{
  border-radius: 5px;
  z-index: 5;
  width: 1000px;
  margin: auto;
  margin-top: -160px;
  background-color: white;

  
}
.alert{
  color: red;
  padding:0;
  font-size: 1rem;
  width: 70%;
  padding: 0px !important;
  margin-top: -1.3rem;
}
.newpost_head{
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: turquoise;
}
.newpost_title{
  font-size: 1.8rem;
  color: white ;
  padding-top: 25px;
  margin-top: -4px;
}
.form-title{
  padding-bottom: 50px;
}
.tab{
  display:none;
}
.tab input{
  /* margin-bottom:1.3rem ; */
  border: 2px solid #d2d2dc;
  font-family: roboto;
  
}

 input:focus{
  outline: 2px solid rgb(0,222,182);  
  border:none !important;
  margin-right: 2px;
}
.tab_title{
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 15px;
}
.home_apartment>[type=radio] { 
  display:flex;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.image_home{
  border-radius: 10px;
}
  
.home_apartment{
  width: 21%;
  border-radius: 10px;
  background-color: #f6f6f6;
  margin-right: 2.5%; 
  text-align: center;
}
.home_apartment p{
  padding-top: 10px;
}

.image_home:hover{
  border: 2px solid rgb(0,222,182);
  cursor: pointer;
}
label img{
  width: 50%;
  height: auto;
}


[type = radio]:checked +div{
  border: 2px solid rgb(0,222,182);
}

 
#regForm {
  margin: 50px auto;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}
.input_title{ 
  margin-bottom: 0.5rem;
}
.address_input{
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  border:2px solid #d2d2dc;
}

.address_input option{
  font-weight: 300;
  
}

.input_district{
  margin-top: 8px; 
  
}

#description{
  width: 100%;
  height: auto;
  border:2px solid #d2d2dc;
  font-size: 1.4rem;
  font-weight: 300;
}
textarea:focus{
outline: 2px solid rgb(0,222,182);  
border:none !important;
}
.input_acreage,  .width_input ,.height_input, .price_input, textarea{
  margin-bottom: 1.3rem;
}
.input_width_and_height{
  display: flex;
  justify-content: space-between;
}
.input_width_and_height >.form-group{
  flex: 1;
}
.width_input{
  
  margin-right: 3%;
}
.width_input-unit{
  display: flex;
  
}
/* .width_input-unit span{
  width: 12%;
  height: auto;

  background-color: #d2d2dc;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
} */
.height_input{
  flex: 1;
}
.height_input-unit{
  display: flex;
}
.height_input-unit span , .width_input-unit span{
  padding: 0.5rem;
  height: auto;
  background-color: #d2d2dc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;;
}
.price_input-unit{
  display: flex;
}
.price_input-unit span{
  padding: 0.5rem;
  height: auto;
  background-color: #d2d2dc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price_total-result{
  width: 100%;
  background-color: #f6f6f8;
  border: 2px solid #d2d2dc;
  padding: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #4CAF50;
}
.price_total-result p{
  margin-bottom: 0;
}
.newpost_heading{
  margin-bottom: 1.3rem;
}
#newpost_content-input{
  width: 100%;
  padding:10px;
  border:2px solid #d2d2dc;
}
.bedrooms_and_toilets, .floors_and_floorsdirection{
  display: flex;
  justify-content: space-between ;
}
.floors_and_floorsdirection> .form-group , .bedrooms_and_toilets>.form-group{
  flex: 1;
}
.bedrooms, .floors{
  flex: 1;
  margin-right:3% ;
}
#bedrooms_input {
}

.direction, .bedrooms, .toilets, .floors, .floorsdirection {
  margin-bottom:1.3rem;
}

.toilets{
  flex:1;
}

.floors, .floorsdirection{
  flex: 1;
}


#images_input{
  display: none;
}

#img_input-label{
  cursor: pointer;
  width: 25%;
  height: auto;
  border: 2px dashed #d2d2d2dc;
  display: flex;
  padding: 1.5rem 0;
}
.images_input-label--item{
  margin: auto;
  text-align: center;
}
.images_input-label--item>p{
  font-size: 1.5rem;
  color:rgb(6, 153, 126) ;
}
.container i{
  color: rgb(206, 206, 211);
  font-size: 4rem;}
.image_list{
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
}
.image_list> .image_item{
  border:1px solid rgb(0,222,182);
  width: 20%;
  margin-right: 1rem;
  /* float: left; */
  position: relative;
}
.image_list> .image_item img{
  width: 100%;
  height: 100%;
  /* vertical-align: middle; */
  object-fit: cover;
}
.delete_button{
position: absolute;
top: 2px;
right: 2px;
cursor: pointer;
}
.delete{
  font-size: 1.5rem;
  color: rgb(253, 7, 7);
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /* font-family: Raleway; */
  /* border: 1px solid #aaaaaa; */
}



/* .tab {
  
} */

button {
  background-color: rgb(34, 212, 180);
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top:1rem;
}

button:hover{
  opacity: 0.8;
}

#prevBtn {
  background-color: rgb(0,222,182);
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color: rgb(0,222,182);
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.nodisplay{
  display: none;
}

 .required .input_title:after {
  content:"*";
  color:red;
}
.airconditional_and_freazer ,.bathrooms_and_hottanks{
  display: flex;
  justify-content: space-between;
}
.bathrooms_and_hottanks>.form-group, .airconditional_and_freazer>.form-group{
  flex: 1;
}
.bathroom, .hottank, .airconditional, .freazer{
  display: flex;
  margin-bottom: 1rem;
  margin-right: 3%;
}
 .input_title{
  min-width: 30%;
}
.form-gender{
  
  /* margin: 1.1rem 0px 1rem;  */
  display: flex;
  font-size: 0.8rem;
}
.gender{
  display: flex;
  position: relative; 
  left: 20px;
  margin-right: 45px;
}
.gender input{
 
  font-size:1px;
  width: 20px;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 3px;
}

@media screen and (max-width:1000px){
  .input_width_and_height,.airconditional_and_freazer,.bathrooms_and_hottanks{
    display: block;
  }
  .width_input{
    margin-right: 0;
  }
  .bedrooms_and_toilets, .floors_and_floorsdirection{
    display: block;
  }
  .bedrooms, .floors {
    /* flex: 1; */
    margin-right: 0;
}
}